@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    place-content: center;
    justify-content: center;
    align-items: center;
    min-height: 90vh !important;
}

.container {
    background-color: #ecf0f1;
    width: 700px;
    height: 400px;
    box-shadow: 2px 4px 12px 14px rgb(0 0 0 / 50%);
    border-radius: 10px;
}

.left-box {
    position: absolute;
    width: 250px;
    height: 400px;
    background-color: #00d2d3;
    border-radius: 10px 0px 0px 10px;
}

.left-box h1 {
    margin-top: 50px;
    text-align: center;
    font-size: 2.5rem;
    color: #fff;
    font-weight: 800;
    letter-spacing: 4px;
}

.text {
    text-align: center;
    display: grid;
    justify-content: center;
    min-height: 30px;
}

.text h2 {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 20px 0px;
}

.right-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 62vw;
    min-height: 62vh;
}

.right-box input {
    margin: 10px 0px;
    margin-left: 40px;
    width: 320px;
    height: 30px;
    padding: 10px;
    outline: none;
    border: 0;
    border-radius: 30px;
    font-size: 0.9rem;
}

.right-box button {
    height: 40px;
    width: 150px;
    margin-top: 10px;
    padding: 0px 10px;
    background-color: #00d2d3;
    color: #fff;
    border: 0;
    outline: none;
    font-size: large;
    font-weight: 700;
    border-radius: 30px;
    cursor: pointer;
}

.result {
    position: absolute;
    bottom: 144px;
    width: 250px;
    height: 50px;
    background-color: #01a3a4;
    border-radius: 0px 0px 0px 10px;
}

.result h2 {
    text-align: center;
    line-height: 50px;
    font-size: 1.3rem;
    color: #ecf0f1;
    font-weight: 800;
    letter-spacing: 3px;
}